body {
  background: antiquewhite;
}

.notatka {
  padding-top: 20px;
  background: #ffffff;
  min-height: 120px;
  min-width: 120px;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid palegreen;
  box-shadow: 5px 5px 10px black;
}

.notatka .pasek {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  background: palegreen;
  width: 100%;
}

.notatka textarea {
  padding: 3px 10px;
  box-sizing: border-box;
  min-height: 120px;
  min-width: 120px;
  background-image: url(TextFill_image5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75px;
  border: none;
  bottom: 0px;
  
}



.notatka .pasek:hover {
  cursor: move;
  background: #4bd0b5;
}

.notatka:hover {
  z-index: 1;
}

.deleteButton , .saveButton{
  border: none;
  position: absolute;
  top: 2px;
  height: 15px;
  width: 15px;
  cursor: pointer;
}
.deleteButton{
  right: 5px;
  background-image: url(close_black_256x256.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.saveButton{
  
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 5px;
  background-image: url(Custom-Icon-Design-Flatastic-9-Save.ico);
  background-repeat: no-repeat;
  background-size: 100%;
}

.notatka .tytul{
  top: 0px;
  left: 0px;
  height: 20px;
  width: 20px;
  background-image: url(title...png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75px;
  border: none;
}
